<%# <!--<h2>Your Bookings for <%= @car.brand%>
<% @bookings.each do |booking| %>
  <div class="booking" style="border: 1px solid #ddd; padding: 10px; margin: 10px;">
    <%= link_to car_path(booking.car), class: "card-category", style: "#{booking.car.image.attached? ? 'background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' + url_for(booking.car.image) + ')' : ''}" do %>
  <!-- Additional content if needed -->
  <% end %>

    <h3><%= link_to booking.car.brand, car_path(booking.car) %></h3>

    <p> <%= booking.start_date.strftime("%B %d, %Y") %> to <%= booking.end_date.strftime("%B %d, %Y") %> </p>
    <%= link_to "Edit Dates", edit_car_booking_path(booking.car, booking), class: "button" %>
  </div>
<% end %>

<%# <!--<%= link_to "Back to Car", car_path(@car) %>
