<%# <!--<h2>Your Bookings for <%= @car.brand%>


<div class="booking-container">
<% @bookings.each do |booking| %>
  <div class="booking" style="border: 1px solid #ddd; padding: 10px; margin: 10px;">

    <%= link_to car_path(booking.car), class: "car-thumbnail", style: "#{booking.car.image.attached? ? 'background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' + url_for(booking.car.image) + ')' : ''}" do %>
      <!-- Empty div ensures the whole area is clickable -->
      <div style="width: 100%; height: 100%;"></div>
    <% end %>

      <h3><%= link_to booking.car.brand, car_path(booking.car) %></h3>
    <p> <strong>Price:</strong> $<%= booking.car.price %>/day</p>
      <p> <%= booking.start_date.strftime("%B %d, %Y") %> to <%= booking.end_date.strftime("%B %d, %Y") %> </p>
    <%= link_to "Edit Dates", edit_car_booking_path(booking.car, booking), class: "button" %>
  </div>
<% end %>
</div>

<%# <!--<%= link_to "Back to Car", car_path(@car) %>
