<div class="home-card mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("nqnheqsnmfqeomjqcgkv", width: 1200, height: 400, crop: :fill, gravity: :center) %>)">
<div class="text-center p-5">
    <h1 class="display-4">Welcome to Vintage Car Hire!</h1>
    <%= link_to "Get Started", cars_path, class: "button" %>
  </div>
</div>

<div class="top-rated-reviews mt-5">
  <h3 class="text-center mb-4 text-black">Top Rated Reviews</h3>
  <div class="scroll-container">
    <% @five_star_reviews.each do |review| %>
      <div class="home-page-review-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= review.car.brand %> <%= review.car.description %></h5>
            <p class="card-text"><%= review.comment %></p>
            <div class="mt-2">
              <% 5.times do %>
                <i class="fas fa-star text-warning"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
