<div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("home.png") %>); width:100dvw;height:100%;background-size:cover;background-position:center;">
  <div class="overlay"></div>
  <div class="home-card-content">
    <h1 class="text-center text-white">Vintage Car Hire</h1>
    <p class="text-center text-white">Experience the elegance of vintage cars.</p>
  </div>
<div class="text-center p-5">
    <h1 class="display-4">Welcome to Vintage Car Hire!</h1>
    <%= link_to "Find Your Perfect Car...", cars_path, class: "button" %>
  </div>
</div>

<div class="top-rated-reviews mt-5">
  <h3 class="text-center mb-4 text-black">Top Rated Reviews</h3>
  <div class="scroll-container">
    <% @five_star_reviews.each do |review| %>
      <div class="home-page-review-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= review.car.brand %><h5>
            <h5 class="card-title"><%= truncate(review.car.description, length: 200) %></h5>
            <p class="card-text"><%= review.comment %></p>
            <div class="mt-2">
              <% 5.times do %>
                <i class="fas fa-star text-warning"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
